body {
	background-color: #fff;
	font-family: 'Styrene A Web';
}

header {
}

.logo {
padding: 50px 10px 50px 10%;
}

.sidenav {
  height: 100%;
  width: 30%;
  position: fixed;
  float: left;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: #d02b1c;
  background-image: url("images/alfa_pattern_white_rgb_2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0px bottom;
  background-size: 40%;
-webkit-box-shadow: 13px 0px 68px 0px rgba(0,0,0,0.39);
-moz-box-shadow: 13px 0px 68px 0px rgba(0,0,0,0.39);
box-shadow: 13px 0px 68px 0px rgba(0,0,0,0.39);
}

.sidenav-bg {
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 35%, rgba(0,0,0,.5) 80%);
}   

.sidemenu {
  position: absolute;
  bottom: 0;
  padding: 138px 10px 70px 10%;
  color: #fff;
  font-weight: 500;
  font-style: italic;
}

.sidemenu a {
  padding: 8px 10px 8px 10px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  font-family: 'Styrene A Web';
}

.sidenav a:hover {
  color: #EF3124;
  background-color: #fff;
}

.sidenav h1 {
  font-size: 56px; 
  padding-top: 50px;
  word-wrap: break-word;
}

.main {
  margin: 0 0 100px 0; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 80px 80px 0 40%;
  color: #0B1F35;
}

.main h1 {
font-weight: 900;
font-size: 36px;
margin: 0px 0px 36px;
}

.main p {
margin: 0px 0px 36px;
}

.main img {
opacity: 0.5;
}

.card-1 {
margin: 0px 0px 100px;
padding: 0 20% 0 0;
border: 0px;
width: 100%;
position: relative;
float: left;
}

.card-2 {
margin: 0px 0px 100px 0px;
padding: 0 0 0 20%;
border: 0px;
width: 100%;
position: relative;
float: right;
}

.navitem {
    display: block;
    flex-flow: row wrap;
    -moz-box-pack: start;
    justify-content: flex-start;
    -moz-box-align: center;
    align-items: center;
    transition: margin-left 0.3s ease 0s;
    margin-left: -10px;
}

.arrow {
    transition: all 0.2s ease 0s;
    margin: 0px;
    height: 20px;
    flex: 0 0 0px;
    max-width: 0px;
    opacity: 0;
    transform: translateX(-100%);
    display: none;
}

.arrow:active {
  color: #0000FF;
}

.mobile {
display: none;
}

@media screen and (max-width: 1000px) {
  .sidenav {display: none;}
  .mobile {
  position: fixed;
  margin: 0;
  display: block;
  background-color: #d02b1c;
  width: 100%;
  padding: 0px;
  -webkit-box-shadow: 0px 2px 40px 0px rgba(0,0,0,0.39);
  -moz-box-shadow: 0px 2px 40px 0px rgba(0,0,0,0.39);
  box-shadow: 0px 2px 40px 0px rgba(0,0,0,0.39);
  z-index: 1;
  }
  .red-logo {
  margin: 10px 7px 0 3%;
  float: left;
  min-width: 32px;
  min-height: 48px;
  }
  .dropbtn {
  color: white;
  border: none;
  cursor: pointer;
  background-color: #d02b1c;
  color: #fff;
  font-style: italic;
  font-size: 46px;
  }
  .mobile-menu {
  position: relative;
  text-align: center;
  display: block;
  }
  .mobile-menu-content {
  display: none;
  margin: 0;
  text-align: left;
  padding: 10px 10px 50px 3%;
  color: #fff;
  font-size: 3.2vw;
  background-color: #d02b1c;
  width: 100%;
  z-index: 1;
  background-image: url("images/alfa_pattern_white_rgb_2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0px 50px;
  background-size: 100%;
  }
  .mobile-menu-content a {
  padding: 5px;
  color: #fff;
  font-style: italic;
  }
  .mobile-menu-content a:hover {
  color: #EF3124;
  background-color: #fff;
  text-decoration: none;
  }
  .dropdown {
  position: relative;
  display: block;
  }
  .show {display: block;}
  .main {
  padding: 100px 10% 0 10%;
  font-size: 3.2vw;
  }
  .main h1 {
  font-size: 5vw;
  }
  .offset:before { 
	display: block; 
 	content: " "; 
  	height: 90px;      /* Give height of your fixed element */
    margin-top: -90px; /* Give negative margin of your fixed element */  	
    visibility: hidden; 
  }
  .card-1, .card-2 {
  margin: 0;
  padding: 150px 0 0 0;
  border: 0px;
  position: relative;
  width: auto;
}
}
